.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}
.form{
    margin-bottom: 2rem;
}
.caja{
    display: flex;
    flex-direction: row;
}
.uno{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}