.navBarra{

    background-color: #a86b4c;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    border-top: 3px solid rgb(13, 26, 15);
    border-bottom: 3px solid rgb(13, 26, 15);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.navBarra a{
    text-decoration: none;
}